.mine {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mine .header {
    width: 100%;
    height: 4.2666666667rem;
    background-image: url("./img/header.png");
    background-size: cover;
    overflow: hidden;
}

.mine .avatar {
    width: 1.92rem;
    height: 1.92rem;
    display: block;
    margin: 0.6666666667rem auto 0;
    border: 0.08rem solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}

.mine .nickname {
    color: #333;
    font-size: 0.4266666667rem;
    text-align: center;
    margin-top: 0.4rem;
}

.mine .content {
    flex: 1;
    background-color: #eee;
}

.mine .items {
    border-bottom: 0.2666666667rem solid #eee;
    background-color: #fff;
}

.mine .items li {
    height: 1.2rem;
    font-size: 0.3733333333rem;
    line-height: 1.2rem;
    position: relative;
    padding-left: 0.6933333333rem;
    margin-left: 0.4rem;
    border-bottom: 1px solid #e4e4e4;
}

.mine .items li:last-child {
    border: none;
}

.mine .items li:before {
    content: '';
    display: block;
    width: 0.4266666667rem;
    height: 0.4266666667rem;
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    background-size: cover;
}

.mine .items li:after {
    content: '>';
    display: block;
    width: 0.4266666667rem;
    height: 0.4266666667rem;
    position: absolute;
    top: 0;
    right: 0.24rem;
    color: #aaa;
}

.mine .items .address:before {
    background-image: url("./img/address.png");
}

.mine .items .money:before {
    background-image: url("./img/money.png");
}

.mine .items .email:before {
    background-image: url("./img/email.png");
}

.mine .items .question:before {
    background-image: url("./img/question.png");
}

.mine .tel {
    font-size: 0.4rem;
    color: #ffb000;
    text-align: center;
    height: 1.2266666667rem;
    line-height: 1.2266666667rem;
    background-color: #fff;
}

.mine .time {
    font-size: 0.3733333333rem;
    text-align: center;
    margin-top: 0.3466666667rem;
    color: #999;
}
